<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Inter', sans-serif;
      }
      @media (min-width: 768px) {
        .grid-container {
          display: grid;
          grid-template-columns: 1fr 3fr;
          gap: 2rem;
        }
      }

      main {
        padding-top: 4rem;
      }

      main ul {
        padding-left: 0;
      }

      main li {
        margin-bottom: 0.75rem;
      }

      main li a {
        font-size: 1.1rem;
      }
    </style>
</head>
<body>
    <div class="container grid-container">
        <aside>
            <h3>Topics</h3>
            <ul>
            <li><a href="/">home</a></li>
            {% for tag in collections.tagList %}
              <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </aside>
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
    </div>
</body>
</html>
