---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
permalink: "/tags/{{ tag | slug }}/"
---
{% extends "base.njk" %}

{% block content %}
  <ul>
  {% set postslist = collections[ tag ] %}
  {% for post in postslist | reverse %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
